/*** 

====================================================================
	clients
====================================================================

 ***/

.bkr003 .clients-01 {
    position: relative;
    padding: 0px 0px 100px 0px;
}
.bkr003 .clients-01 .item {}
.bkr003 .clients-01 .item img {
    margin: 0 auto;
    max-width: 100%;
    width: unset;
    opacity: .60;
    transition: all 700ms ease;
}
.bkr003 .clients-01 .item:hover img {
	opacity: 1;
	transition: all 700ms ease;
}